@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* font-family: "Azeret Mono", monospace; */

* {
  border: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Azeret Mono", monospace;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

main,
header {
  width: 1140px;
  margin: 0 auto;
}

/* Header */
header {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: 800;
}

nav a {
  font-size: 20px;
  font-weight: 600;
  padding: 17px 24px;
  color: #0d1321;
  border: 1px solid #0d1321;
  border-radius: 8px;
}

.hero {
  width: 100%;
  height: 680px;
  background-image: url("../images/Hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: rgba(255, 255, 255, 0.4);
}

.hero-title {
  font-size: 48px;
  text-align: center;
  line-height: 68px;
}
.hero-description {
  font-size: 16px;
  color: #0d1321;
  font-weight: normal;
  text-align: center;
  line-height: 26px;
  width: 800px;
  opacity: 0.7;
}

.hero a {
  color: #fff;
  padding: 21px 24px;
  border-radius: 8px;
  background-color: #0d1321;
}

#why-web-dev {
  background-color: rgba(13, 19, 33, 0.02);
  padding: 80px 97px;
  margin: 80px 0 40px 0;
  gap: 48px;
  border-radius: 16px;
}

.heading {
  color: #0d1321;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: center;
}

.heading .title {
  font-size: 32px;
}

.heading .description {
  font-size: 16px;
  line-height: 26px;
  opacity: 0.7;
}

#why-web-dev .cards {
  gap: 32px;
}

#why-web-dev .card:nth-child(odd) {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

#why-web-dev .card:nth-child(even) {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

#why-web-dev .card {
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
}
#why-web-dev .card .content {
  display: flex;
  flex-direction: column;
  flex-basis: 400px;
  gap: 32px;
}

#why-web-dev .card .content .title {
  font-size: 24px;
  line-height: 36px;
  color: rgba(13, 19, 33, 0.7);
}
#why-web-dev .card .content p {
  font-size: 16px;
  line-height: 26px;
  color: #0d1321;
  opacity: 0.7;
}
#why-web-dev .card .content a {
  color: #0d1321;
  font-weight: 600;
  border: 1px solid #0d1321;
  padding: 12px 20px;
  align-self: start;
}

#inspiration {
  margin: 40px auto;
  align-items: center;
  gap: 48px;
}

#inspiration .video {
  display: flex;
  border-radius: 16px;
  padding: 32px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  width: 100%;
  justify-content: center;
}

#inspiration .video iframe {
  display: flex;
  width: 100%;
  height: 600px;
}

#current-target,
#next-target,
#support {
  margin: 120px auto;
  align-items: center;
  gap: 48px;
}

#current-target .cards {
  display: flex;
  gap: 24px;
}

#current-target .card {
  padding: 40px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#current-target .card .title,
#next-target .card .title {
  font-size: 24px;
  line-height: 36px;
  color: #0d1321;
}

#current-target .card p,
#next-target .card p {
  font-size: 16px;
  line-height: 26px;
  opacity: 0.7;
}
#current-target .card a,
#next-target .card a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  color: #0d1321;
}
#current-target .card:nth-child(1) {
  background-color: rgba(255, 76, 30, 0.05);
}
#current-target .card:nth-child(2) {
  background-color: rgba(0, 76, 232, 0.05);
}
#current-target .card:nth-child(3) {
  background-color: rgba(255, 223, 0, 0.05);
}

#next-target .cards {
  gap: 24px;
  width: 100%;
}

#next-target .card {
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 24px;
}

#next-target .card .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#support {
  background-image: url("/images/handshake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-radius: 16px;
}

#support .content-wrapper {
  border-radius: 16px;
  padding: 64px 48px;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  gap: 16px;
}

#support .content-wrapper .title {
  color: #fff;
}

#support .content-wrapper .description {
  color: #fff;
  opacity: 0.7;
}

#support .content-wrapper #form {
  display: flex;
  justify-content: center;
}

#form input[type="text"],
#form input[type="submit"] {
  padding: 19px 20px;
  border-radius: 8px;
  font-family: "Azeret Mono", monospace;
  font-size: 16px;
}

#form input[type="text"] {
  width: 600px;
}

#form input[type="submit"] {
  font-weight: bold;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #0d1321;
  font-weight: 700;
  background-color: rgba(13, 19, 33, 0.03);
  padding: 32px 250px;
}
